{% extends 'base.html' %}

{% load static %}

{% block title %} {{ data.title }} {% endblock %}

{% block content %}

        <!-- ***** Hero Area Start ***** -->
        <section class="single featured post-details">
            <div class="container">
                <div class="row">
                    <!-- Main -->
                    <div class="col-12 col-lg-8 p-0">
                        <div class="row">
                            <div class="col-12 align-self-center">
                                <!-- Image -->
                                <div class="blog-thumb">
                                    <img class="w-100" src="assets/img/blog/blog_single.jpg" alt="">
                                </div>
                                <h2 class="featured ml-0">{{ data.title }}</h2>
                                <p>By: {{ data.by }}</p>
                                <p>Type: {{ data.type }}</p>
                                <a href="{{ data.url }}" target="_blank"><p>Go to</p></a>
                                <a href="{% url 'Delivery:update' data.id %}"><p>Edit</p></a>
{#                                <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam tortor, ultrices accumsan mauris eget, pulvinar tincidunt erat. Sed nisi nisi, rutrum sit amet elit.</blockquote>#}
{#                                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. There live the blind texts. Separated they live in right at the coast, a large language ocean. Sed nisi nisi, amet, consectetur adipiscing rutrum sit amet elit.</p>#}
{#                                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>#}

                                <!-- Post Holder -->
                                <ul class="mb-5 post-holder">
                                    <li class="post-meta-item">
                                        <div class="date">
                                            <span class="posted-on">Posted On <a href="#" rel="bookmark"><time class="entry-date published updated" datetime="2018-11-01T06:18:46+00:00">{{ data.date }}</time></a></span>
                                        </div>
                                    </li>
                                </ul>

{#                                <!-- Comments -->#}
{#                                <h3 class="comments-reply-text mb-3">Leave a Reply</h3>#}
{#                                <p class="mt-3">Sed mauris nulla, tempor eu est vel, dapibus hendrerit mauris.</p>#}
{#                                <form>#}
{#                                    <fieldset>#}
{#                                        <div class="row">#}
{#                                            <div class="col-12 col-lg-6 input-group p-0 pr-lg-3 mb-3">#}
{#                                                <input type="text" name="name" data-minlength="3" placeholder="Name" required>#}
{#                                            </div>#}
{#                                            <div class="col-12 col-lg-6 input-group p-0 mb-3">#}
{#                                                <input type="email" name="email" data-minlength="3" placeholder="Email" required>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="row">#}
{#                                            <div class="col-12 input-group p-0 mb-3">#}
{#                                                <textarea name="message" data-minlength="3" rows="4" placeholder="Message" required></textarea>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-12 input-group p-0">#}
{#                                            <a class="btn btn-bordered-white text-white">POST COMMENT<i class="icon-login ml-2"></i></a>#}
{#                                        </div>#}
{#                                    </fieldset>#}
{#                                </form>#}
                            </div>
                        </div>
                    </div>

                    <!-- Sidebar -->
                    <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
                        <div class="row">
                            <div class="col-12 align-self-center text-left">

                                <!-- Widget [categories] -->
                                <div class="item widget-categories">
                                    <h4 class="title">Types</h4>
                                    <ul class="list-group list-group-flush">

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
{#                                            <a href="#">Jobs</a>#}
                                            <form class="row" action="{% url 'Delivery:search' %}" method="post">
                                                {% csrf_token %}
                                                <input type="text" value="job" hidden name="keyword">
                                                <button style="background: transparent; border: none; color: white" name="submit" type="submit">Jobs</button>
                                            </form>
                                            <span class="badge circle">{{ job }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
{#                                            <a href="" onclick=this.form.submit()>Story</a>#}
                                            <form class="row" action="{% url 'Delivery:search' %}" method="post">
                                                {% csrf_token %}
                                                <input type="text" value="story" hidden name="keyword">
                                                <button style="background: transparent; border: none; color: white" name="submit" type="submit">Story</button>
                                            </form>
                                            <span class="badge circle">{{ story }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
{#                                            <a href="#">Comment</a>#}
                                            <form class="row" action="{% url 'Delivery:search' %}" method="post">
                                                {% csrf_token %}
                                                <input type="text" value="comment" hidden name="keyword">
                                                <button style="background: transparent; border: none; color: white" name="submit" type="submit">Comment</button>
                                            </form>
                                            <span class="badge circle">{{ comment }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
{#                                            <a href="#">Poll</a>#}
                                            <form class="row" action="{% url 'Delivery:search' %}" method="post">
                                                {% csrf_token %}
                                                <input type="text" value="poll" hidden name="keyword">
                                                <button style="background: transparent; border: none; color: white" name="submit" type="submit">Poll</button>
                                            </form>
                                            <span class="badge circle">{{ poll }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
{#                                            <a href="#">PollOpt</a>#}
                                            <form class="row" action="{% url 'Delivery:search' %}" method="post">
                                                {% csrf_token %}
                                                <input type="text" value="pollopt" hidden name="keyword">
                                                <button style="background: transparent; border: none; color: white" name="submit" type="submit">PollOpt</button>
                                            </form>
                                            <span class="badge circle">{{ pollopt }}</span>
                                        </li>
{#                                        <li class="list-group-item d-flex justify-content-between align-items-center">#}
{#                                            <a href="#">Consulting</a>#}
{#                                            <span class="badge circle">13</span>#}
{#                                        </li>#}

                                    </ul>
                                </div>

                                <!-- Widget [tags] -->
{#                                <div class="item widget-tags">#}
{#                                    <h4 class="title">Popular Types</h4>#}
{##}
{#                                    <a href="" class="badge tag">Jobs</a>#}
{#                                    <a href="" class="badge tag">Story</a>#}
{#                                    <a href="" class="badge tag">Comment</a>#}
{#                                    <a href="" class="badge tag">Poll</a>#}
{#                                    <a href="" class="badge tag">PollOut</a>#}
{#                                    <form class="row badge tag" action="{% url 'Delivery:search' %}" method="post">#}
{#                                        {% csrf_token %}#}
{#                                        <input type="text" value="pollopt" hidden name="keyword">#}
{#                                        <button style="background: transparent; border: none; color: white" name="submit" type="submit">PollOpt</button>#}
{#                                    </form>#}
{#                                    <a href="" class="badge tag">WordPress</a>#}
{#                                    <a href="" class="badge tag">Development</a>#}
{#                                    <a href="" class="badge tag">Industry</a>#}
{##}
{#                                </div>#}

                                <!-- Widget [share-this] -->
{#                                <div class="item widget-share-this">#}
{#                                    <h4 class="title">Share This</h4>#}
{#                                    <ul class="navbar-nav social share-list">#}
{##}
{#                                        <li class="nav-item">#}
{#                                            <a href="#" class="nav-link"><i class="icon-social-instagram ml-0"></i></a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>#}
{#                                        </li>#}
{#                                        <li class="nav-item">#}
{#                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>#}
{#                                        </li>#}
{##}
{#                                    </ul>#}
{#                                </div>#}

                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <!-- ***** Hero Area End ***** -->

{% endblock %}
